<p>
   <b>Comment:</b>
   <%= comment.body %>
</p>

<p>
   Commenter: <%= comment.commenter %>
</p>

<p>
   <%= link_to 'Delete Comment', [comment.post, comment],
		:confirm => 'Are you sure?',
		:method  => :delete %>
</p>


