<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field">
		 <%= f.label :Detail %>
		 <%= f.text_area :body , class: 'span8' %>
	</div>
	
	<div class="actions">
	 	<%= f.submit %>
	</div>

<% end %>
