<% title "iChoo" %>

<div id="comments_count"><%= comments_count %></div>
 
<div id="comments">
  <%= render @comments %>
</div>
 
   <div class="controller-group">
    <%= f.label :title %><br />
    <div class='control row-fluid'>
      <%= f.text_field :title, class: 'span12' %>
    </div>
  </div>


<h3>Add your comment:</h3>
 
<%= form_for Comment.new, :remote => true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content, "Comment" %><br />
    <%= f.text_area :content, :rows => '12', :cols => 35 %>
  </p>
  <p><%= f.submit %></p>
<% end %>


<%= render 'comment' %>
