<%= form_for(@joinpost) do |f| %>
  <% if @joinpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@joinpost.errors.count, "error") %> prohibited this joinpost from being saved:</h2>

      <ul>
      <% @joinpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
