<h1>Listing joinposts</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @joinposts.each do |joinpost| %>
  <tr>
    <td><%= joinpost.post %></td>
    <td><%= joinpost.name %></td>
    <td><%= link_to 'Show', joinpost %></td>
    <td><%= link_to 'Edit', edit_joinpost_path(joinpost) %></td>
    <td><%= link_to 'Destroy', joinpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Joinpost', new_joinpost_path %>
