<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @joinpost.post %>
</p>

<p>
  <b>Name:</b>
  <%= @joinpost.name %>
</p>


<%= link_to 'Edit', edit_joinpost_path(@joinpost) %> |
<%= link_to 'Back', joinposts_path %>
