<%= form_for(@post, html: { class: 'form-vertical'}) do |f| %>
  <fieldset>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controller-group">
    <br /><%= f.label :title %>
    <div class='control row-fluid'>
      <%= f.text_field :title, class: 'span12'  %>
    </div>
  </div>
  <div class="controller-group">
      <div class='control row-fluid'>
      </div>
    <br /><%= f.label :Detail %>
    <%= f.text_area :body, class: 'span11' %>
  </div>

    <span class='pull-right'>
      <%= link_to 'Back', posts_path, class: 'btn btn-primary' %>
      <%= f.submit class: 'btn btn-primary' %>
    </span>

  </fieldset>
<% end %>
