





<div class="container">
<!-- Head Slide show -->
      <div class="hero-unit">
        <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>s
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><%= image_tag("HeadPic1.jpg") %></div>
        <div class="item"><%= image_tag("HeadPic2.jpg") %></div>
        <div class="item"><%= image_tag("HeadPic3.jpg") %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
<!-- End Head Slide show -->

<!-- Show last post -->
    <div class="well">
       <!-- Show Large Newest posts -->
      <h3>
        <%= @post1.title %><a href="/posts/ <%= @post1.id %>" class='btn pull-right btn-small btn-inverse'><i class='icon-zoom-in'></i> See more >></a>
      </h3>
      <p>
        <%= truncate( @post1.body , :length => 600, :separator => ' ') %>
      </p>
    </div>
<!-- End Show Large Newest posts -->

<!-- Show last post 3 colum -->
    <div class="row-fluid">
      <div class="span4">
        <h4>
          <a href="/posts/ <%= @post2.id %>" class='btn pull-right btn-small btn-warning'><i class='icon-zoom-in'></i></a>
          <%= @post2.title %>      
        </h4>
        <p>
          <%= truncate( @post2.body , :length => 200, :separator => ' ') %>
        </p>
      </div>
      <div class="span4">
        <h4>
          <a href="/posts/ <%= @post3.id %>" class='btn pull-right btn-small btn-warning'><i class='icon-zoom-in'></i></a>
          <%= @post3.title %>  
        </h4>
        <p>
          <%= truncate( @post3.body , :length => 200, :separator => ' ') %>
        </p>
      </div>
      <div class="span4">
        <h4>
          <a href="/posts/ <%= @post4.id %>" class='btn pull-right btn-small btn-warning'><i class='icon-zoom-in'></i></a>
          <%= @post4.title %>
        </h4>
        <p>
          <%= truncate( @post4.body , :length => 200, :separator => ' ') %>  
        </p>
      </div>
    </div>    
<!-- End Show last post 3 colum -->
    </div>


        <!-- Show box login&regist -->
    <div class="row main-features">
      <div class="span6">
        <div class="well">
          <h3>Member Register</h3>
          <p>Subscribe this website.
          </br> </br> 
          </p>
          <a class="btn btn-info" href="/users/sign_up">Click to register<br></a> 
        </div>
      </div>

      <div class="span6">
        <div class="well">
          <h3>Member Login</h3>
          <p>Is you have an account member, Please login, </br>So that use your rights to
              the fullest.</p>
          <a class="btn btn-success" href="/users/sign_in">Click to login</a> 
        </div>
      </div>

    </div>
        <!-- end of Show box login&regist -->

<!--  Status
    <div class="container">
      <div class='container-fluid'>
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%=name == :notice ? 'success' : 'error' %>">
            <a class='close' data-dismiss="alert">x</a>
          <%= msg %>
          </div>
        <% end %> 
      <%= yield %>
    </div>  
-->
    <div class="hero-unit hidden-phone">
      <h2>Listing posts You Know Blog! </h2>
      <ul class='main-list well'>
      <% @posts.each do |post| %>
      <li class='row-fluid'>
        <div class='span6'><%= post.title %></div>
          <div class='pull-right'>
            <a href="/posts/ <%= post.id %>" class='btn primary btn-small'><i class='icon-zoom-in'></i> Show</a>
            <% if current_user.try(:admin?) %>
            <a href="/posts/ <%= post.id %>/edit" class='btn btn-warning btn-small'><i class='icon-edit'></i> Edit</a>
            <a href="<%= post_path(post) %>" class='btn btn-danger btn-small'data-confirm='Are you sure?' data-method='delete' rel='nofollow'><i class='icon-remove'></i>Destroy</a>
            <% end %>
          </div>
        </li>
      <% end %>
      <% if current_user.try(:admin?) %>
        <a href= '/posts/new' class='btn btn-success btn-small pull-right'><i class='icon-plus'></i> New Post</a>
      <% end %>
    </div>

  <!-- Alert -->
  <div class="alert alert-success">
    <h5>Create by:</h5>
    iChoo@iPv6</br>
    www.9Choo.in.th
  </div>
  <!-- End of Alert -->

</div>