<div class="container">
   <div class="hero-unit hidden-phone">

		<% if current_user.try(:admin?) %>
        	<%= link_to "Edit Post",edit_post_path(@post), class: 'btn btn-warning pull-right' %>
    	<% end %>
      	<h2>
          <b>Post:</b>
          <%= @post.title %>
      	</h2>
     	 <%= @post.body %>
      	</br></br>

		-------------------------------------------------------------------
		<h4>Comment :</h4>
		<% @post.comments.each do |comment| %>
		  	<p><b><%= comment.body %></b></p>
		  	<p>By : <%= comment.commenter %></p>
		  	<p><i>Create comment: <%= comment.created_at %> 
		  		(<%= time_ago_in_words comment.created_at %> ago)</i>
		  	</p>
		<% end %>

		-------------------------------------------------------------------
		<% if current_user %>
			<h4>Add a Comment:</h4>
				<%= render "comments/form" %>
			</br>
			<%= link_to "Back",posts_path, class: 'btn btn-success pull-right' %>
		<% end %>
	</div>	      	
</div>