@import "bootstrap";
@import "bootstrap-responsive";

div.navbar-inner{
	border-radius: 0px;
}

h1 + ul {
	margin-top: 5px;
}

ul.main-list{
	list-style-type: none;
	margin-left: 0px;

	li{
		background: #E8E8E8;
		border-radius: 2px;
		margin-top: 2px;
		margin-bottom: 2px;
		box-shadow: 0px 0px 0px #FFFF00;

		span, div {
			padding: 5px;
		}
	}
}

ul.well{
	padding: 0px 0px;
	background: #F0F0F0 ;
	border: 0px solid #ccc;
}