<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
      <ul>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <br /><%= f.label :Subject_post %>
    <%= f.text_field :post, class: 'span11' %>
  </div>

  <!--
  <div class="field">
   <br /> <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  -->
  
  <div class="field">
   <br /> <%= f.label :detail_Post %>
    <%= f.text_area :detailadmin, class: 'span11' %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
