<div class="container">
   <div class="hero-unit hidden-phone">
   		<% if current_user.try(:admin?) %>
		   	<h1>Editing report</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @report %> |
		<% end %>
		Edit for admin only. <br />
		<%= link_to 'Back', reports_path %>
	</div>
</div>