<div class="container">
   <div class="hero-unit hidden-phone">
		<center><h2>NewPost</h2></center>
		<%= render 'form' %>
		<%= link_to "Back",reports_path, class: 'btn btn-success pull-right' %>
    </div>
</div>
