<div class="container">
   <div class="hero-unit hidden-phone">
      <% if current_user.try(:admin?) %>
        <%= link_to "Edit Post",edit_report_path(@report), class: 'btn btn-warning pull-right' %>
      <% end %>
      <h2>
          <b>Post:</b>
          <%= @report.post %>
      </h2>
      <%= @report.detailadmin %>
      </br></br>
      <%= link_to "Back",reports_path, class: 'btn btn-success pull-right' %>
    </div>
</div>

