<!DOCTYPE html>
<html>
<head>
  <title>You Know Blog?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %> 
  <%= csrf_meta_tags %>
</head>
<body>
	  <div class="navbar navbar-fixed-top">
		<div class = 'navbar-inner'>
			<div class = 'container-fluid'>
				 <a class="brand" href="/posts/">You Know Blog?&nbsp;</a>
				<ul class='nav pull-right'>
					<% if current_user %>
						<li>
							<%= content_tag :a, href: edit_user_registration_path do %>
							<i class='icon-user icon-dark'></i>
								<%= current_user.name.blank? ? current_user.email : current_user.name %>
						<% end %>
						</li>
						<li>
							<%= content_tag :a, href: destroy_user_session_path, data: { method: 'delete' } do %>
								<i class='icon-off icon-dark'></i> Sing Out
							<% end %>
						</li>
						<% else %>
							<li><%= link_to "Login" , new_user_session_path %></li>
							<li><%= link_to "Register" , new_user_registration_path %></li>
						<% end %>
				</ul>
			</div>
		</div>
	</div>

<div class='container-fluid'>
	<% flash.each do |name, msg| %>
		<div class="alert alert-<%=name == :notice ? 'success' : 'error' %>">
			<a class='close' data-dismiss="alert">x</a>
			<%= msg %>
		</div>
		<% end %> 
	<%= yield %>
</div>


</body>
</html>
