<div class="container">
   <div class="hero-unit hidden-phone">
		<p>Welcome <%= @email %>!</p>

		<p>You can confirm your account email through the link below:</p>

		<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
   </div>
</div>