<div class="container">
      <div class="hero-unit hidden-phone">

        <h2>Register <small> - Already have an account? <%= link_to "Sign in", new_session_path(resource_name) %></small></h2>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal well clearfix'}) do |f| %>
      	<%= content_tag :fieldset, class: 'span4 offset3' do %>
      	<div class='control-group'>
      		<%= f.label :email, class: 'control-label' %>
      		<div class='controls'>
      			<%= f.email_field :email %>
      		</div>
      	</div>

        <div class='control-group'>
        <%= f.label :name , class: 'control-label' %>
        <div class='controls'>
          <%= f.text_field :name %>
        </div>
      </div>

      <div class='control-group'>
      	<%= f.label :password , class: 'control-label' %>
      	<div class='controls'>
      		<%= f.password_field :password %>
      	</div>
      </div>

      <div class='control-group'>
      	<%= f.label :password_confirmation, class: 'control-label' %>
      	<div class='controls'>
      		<%= f.password_field :password_confirmation %>
      	</div>
      </div>

      <div class='pull-left'>
      	<%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>

    	<div class='pull-right'>
      		<%= f.submit "Sign up" ,class: 'btn' %>
      </div>
  <% end %>
<% end %>

   </div>
</div>